<div class = "container large-top-space">
    <div class = "row">
        {{#if account.disabled}}
            <div class = "failure-panel bottom-space">
                It looks like your code is no longer a valid Public Mobile referral code.
                It will not show up on the front page, regardless of rank.
                If you've switched Public Mobile accounts, you'll have to delete this code and register a new one.
            </div>
        {{/if}}
    </div>
    <div class = "row">
        <div class = "one-half column">
            <div class = "row bottom-space">
                <span class = "large title">Hi, {{account.username}}!</span>
            </div>
            <div class = "row bottom-space">
                Your referral code is:
            </div>
            <div class = "row bottom-space">
                <span class = "large title code censored white">{{account.code}}</span>
            </div>
            <div class = "row bottom-space">
                <a href = "#" class = "pmblue">Change username or password</a><span class = "code red"> COMING SOON</span>
                <br>
                <a href = "/account/delete" class = "red">Delete account</a>
            </div>
        </div>
        <div class = "one-half column">
            <div class = "row">
                <span class = "large title">Current Rank</span>
            </div>
            <div class = "row">
                <span class = "large code">{{rank}}</span><sup> / {{totalAccounts}}</sup>
                <img class = "left-space" src = "/images/boost.png"></img>
                <b class = "" style = "position: relative; top: -6px; left: 3px;">{{account.boostPoints}}</b>
            </div>
            <div class = "row bottom-space">
                Your rank is determined by the number of boosts (<img style = "position: relative; top: 3px;" src = "/images/boost.png" width = "16px"></img>) 
                you've collected during the week.
                The referral codes with the highest boost counts are shown to visitors on the main page. Only the top 10 are visible.
                <br><br>
                All scores reset at the start of every week.
            </div>
            <div class = "row bottom-space">
                <span class = "large title">
                    Boost your code
                </span>
                <div>
                    <img src = "/images/boost.png"></img>
                    <b class = "" style = "position: relative; top: -6px; left: 3px;">+1</b>
                </div>
            </div>
            <div class = "row bottom-space">
                Once a day you can boost your score by one point.
            </div>
            <div class = "row bottom-space">
                <button id = "boostButton" class = "gold">
                    {{#if boostAllowed}}
                        Boost it!
                    {{else}}
                        Unlocks in {{cooldownRemaining}} hours
                    {{/if}}
                </button>
            </div>
            <div class = "row bottom-space">
                <span class = "large title">Share PMReferrals.ca</span>
                <div>
                    <img src = "/images/boost.png"></img>
                    <b class = "" style = "position: relative; top: -6px; left: 3px;">+2 /click</b>
                </div>
            </div>
            <div class = "row bottom-space">
                PMReferrals is only useful when people see it. Share this site with potential Public Mobile customers
                by giving them this custom link. When they use it, your code will rank higher to all visitors.
            </div>
            <div class = "row bottom-space">
                <span class = "code blue">https://pmreferrals.ca/{{account.url}}</span><br>
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class = "row bottom-space">
                <span class = "large title">
                    Report a bug
                </span>
                <div>
                    <img src = "/images/boost.png"></img>
                    <b class = "" style = "position: relative; top: -6px; left: 3px;">+10</b>
                </div>
            </div>
            <div class = "row bottom-space">
                Found a bug or general problem with the site? 
                We'll reward you with 10 points if you submit it.
            </div>
            <div class = "row bottom-space">
                <span class = "code red">COMING SOON</span>
            </div>
        </div>
    </div>
</div>

<script>

    $('#boostButton').click(boost);
    $('#errorMessage').hide();

    function boost() {
        $("#errorMessage").hide();
        $.ajax({
        'url':'/boost',
        'method':'POST',
        'dataType': 'json',
        'contentType': 'application/json',
        'data': JSON.stringify({}),
        'processData': false,
        'success': function (data, status) {
            if (data.success) {
                window.location.href = "/account";
            }
        }
      });
    }

</script>

