<div class = "container large-top-space">
    <div class = "row">
        {{#if account.disabled}}
            <div class = "failure-panel bottom-space">
                It looks like your code is no longer valid Public Mobile referral code.
                It will no longer show up on the front page, regardless of rank.
                If you've switched Public Mobile accounts, you'll have to delete this code and register a new one.
            </div>
        {{/if}}
    </div>
    <div class = "row">
        <div class = "one-half column">
            <div class = "row bottom-space">
                <span class = "large title">Hi, {{account.username}}!</span>
            </div>
            <div class = "row bottom-space">
                Your referral code is:
            </div>
            <div class = "row bottom-space">
                <span class = "large title code censored white">{{account.code}}</span>
            </div>
            <div class = "row bottom-space">
                <a href = "#" class = "pmblue">Change username or password</a>
                <br>
                <a href = "#" class = "pmblue">Delete account</a>
            </div>
        </div>
        <div class = "one-half column">
            <div class = "row">
                <span class = "large title">Current Rank</span>
            </div>
            <div class = "row">
                <span class = "large code">{{rank}}</span><sup> / {{totalAccounts}}</sup>
                <img class = "left-space" src = "/images/boost.png"></img>
                <b class = "" style = "position: relative; top: -6px; left: 3px;">{{account.boostPoints}}</b>
            </div>
            <div class = "row bottom-space">
                Your rank is determined by the number of boosts (<img style = "position: relative; top: 3px;" src = "/images/boost.png" width = "16px"></img>) 
                you've collected during the week.
                The referral codes with the highest boost counts are shown to visitors on the main page. Only the top 5 are visible.
                <br><br>
                All scores reset at the start of every week.
            </div>
        </div>
    </div>
    <div class = "row">
        <div class = "one-half column">
            <div class = "row bottom-space">
                <span class = "large title">
                    Boost your code
                </span>
                <img src = "/images/boost.png"></img>
                <b class = "" style = "position: relative; top: -6px; left: 3px;">+1</b>
            </div>
            <div class = "row bottom-space">
                Once a day you can boost your score by one point.
            </div>
            <div class = "row bottom-space">
                <button id = "boostButton" class = "gold">
                    {{#if boostAllowed}}
                        Boost it!
                    {{else}}
                        Unlocks in {{cooldownRemaining}} hours
                    {{/if}}
                </button>
            </div>
        </div>
        <div class = "one-half column">
            <div class = "row bottom-space">
                <span class = "large title">Share PMReferrals.ca</span>
                <img src = "/images/boost.png"></img>
                <b class = "" style = "position: relative; top: -6px; left: 3px;">+3 /click</b>
            </div>
            <div class = "row bottom-space">
                Share a custom link with others that takes them to the front page. 
                The more people click it, the higher your code will rank.
            </div>
            <div class = "row bottom-space">
                <span class = "code red">COMING SOON</span>
            </div>
        </div>
    </div>
    
</div>

<script>

    $('#boostButton').click(boost);
    $('#errorMessage').hide();

    function boost() {
        $("#errorMessage").hide();
        $.ajax({
        'url':'/boost',
        'method':'POST',
        'dataType': 'json',
        'contentType': 'application/json',
        'data': JSON.stringify({}),
        'processData': false,
        'success': function (data, status) {
            if (data.success) {
                window.location.href = "/account";
            }
        }
      });
    }

</script>

