<div class = "container large-top-space">
    <div class = "row">
        <div class = "one-half column">
            <div class = "row bottom-space">
                <span class = "large title">Hi, {{account.username}}!</span>
            </div>
            <div class = "row bottom-space">
                You can manage your account here.
            </div>
            <div class = "row bottom-space">
                <span class = "large title code censored white">{{account.code}}</span>
            </div>
            <div class = "row bottom-space">
                <a href = "/logout" class = "cancel button">Log out</a>
            </div>
        </div>
        <div class = "one-half column">
            <div class = "row">
                <span class = "large title">Current Rank</span>
            </div>
            <div class = "row">
                <span class = "large code">{{rank}}</span><sup>(out of {{totalAccounts}})</sup>
                <br>
                Only the top 5 codes are visible on the front page. Keep boosting your code to stay on top!
            </div>
        </div>
    </div>
    <div class = "row">
        <div class = "one-half column">
            <div class = "row bottom-space">
                <span class = "large title">Boost your code</span>
            </div>
            <div class = "row bottom-space">
                Displays your code on the front page for a period of time. You can only
                boost once every 12 hours.
            </div>
            <div class = "row bottom-space">
                <button class = "gold">Boost your code!</button>
                <br>
                Last boost: <b>{{account.lastBoost}}</b>
            </div>
        </div>
        <div class = "one-half column">
            <div class = "row bottom-space">
                <span class = "large title">Share PMReferrals.ca</span>
            </div>
            <div class = "row bottom-space">
                Share this link with others. It takes them to the front page. 
                The more people see it, the higher your code will rank.
            </div>
            <div class = "row bottom-space">
                <span class = "code">https://pmreferrals.ca/{{account.url}}</span>
            </div>
        </div>
    </div>
    
</div>

<script>

    $('#boostButton').click(boost);
    $('#errorMessage').hide();

    function boost() {
        $("#errorMessage").hide();
        $.ajax({
        'url':'/boost',
        'method':'POST',
        'dataType': 'json',
        'contentType': 'application/json',
        'data': JSON.stringify({}),
        'processData': false,
        'success': function (data, status) {
            
        }
      });
    }

</script>

