<div class = "container large-top-space">
    <div class = "row">
        {{#if account.disabled}}
            <div class = "failure-panel bottom-space">
                It looks like your code is no longer a valid Public Mobile referral code.
                It will not show up on the front page, regardless of rank.
                If you've switched Public Mobile accounts, you'll have to delete this code and register a new one.
            </div>
        {{/if}}
    </div>
    <div class = "row">
        <div class = "one-half column">
            <div class = "row bottom-space">
                <span class = "large title">Hi, {{account.username}}!</span>
            </div>
            <div class = "row bottom-space">
                Your referral code is:
            </div>
            <div class = "row bottom-space">
                <span class = "large title code censored white">{{account.code}}</span>
            </div>
            <div class = "row bottom-space">
                <a id = "deleteButton" href = "#" class = "red">Delete account</a>
            </div>
            <div class = "row bottom-space">
                <div id = "confirmation" class = "failure-panel">
                    <b class = "cancel">Wait! Are you sure you want to delete your account?</b>
                    <br>
                    <b><a class = "white" href = "/account/delete">Yes, delete</a></b>
                    <a id = "cancelButton" class = "white left-space" href = "#">Cancel</a>
                </div>
            </div>
        </div>
        <div class = "one-half column">
            <div class = "row">
                <span class = "large title">Current Odds</span>
            </div>
            <div class = "row">
                <span class = "large code">{{odds}}% </span><sup> chance of being displayed</sup>
                <img class = "left-space" src = "/images/boost.png"></img>
                <b class = "" style = "position: relative; top: -6px; left: 3px;">{{account.boostPoints}}</b>
            </div>
            <div class = "row bottom-space">
                Your odds are determined by the number of boosts (<img style = "position: relative; top: 3px;" src = "/images/boost.png" width = "16px"></img>)
                you've collected compared to other players. The higher your score, the more your code will be seen. Codes that
                are selected for the front page are shown in a random order.
                <br><br>
                Every day your score drops by 1 point.
            </div>
            <div class = "row bottom-space">
                <span class = "large title">
                    Boost your code
                </span>
                <div>
                    <img src = "/images/boost.png"></img>
                    <b class = "" style = "position: relative; top: -6px; left: 3px;">+2</b>
                </div>
            </div>
            <div class = "row bottom-space">
                
            </div>
            <div class = "row bottom-space">
                <button id = "boostButton" class = "gold">
                    {{#if boostAllowed}}
                        Boost it!
                    {{else}}
                        Unlocks in {{cooldownRemaining}} hours
                    {{/if}}
                </button>
            </div>
            <div class = "row bottom-space">
                <span class = "large title">
                    Give feedback
                </span>
                <div>
                    <img src = "/images/boost.png"></img>
                    <b class = "" style = "position: relative; top: -6px; left: 3px;">+5</b>
                </div>
            </div>
            <div class = "row bottom-space">
                Found a bug or general problem with the site?
                Want to give some feedback? 
                Send an email to <a href = "mailto:admin@pmreferrals.ca">admin@pmreferrals.ca</a>.
                If it helps us, we'll award you 5 points!
            </div>
        </div>
    </div>
</div>

<script>

    {{#if boostAllowed}}$('#boostButton').click(boost);{{/if}}
    $('#errorMessage').hide();
    $("#confirmation").hide();
    $("#deleteButton").click((event) => {
        $("#confirmation").show();
    });
    $("#cancelButton").click((event) => {
        $("#confirmation").hide();
    });

    function boost() {
        $("#errorMessage").hide();
        $.ajax({
        'url':'/boost',
        'method':'POST',
        'dataType': 'json',
        'contentType': 'application/json',
        'data': JSON.stringify({}),
        'processData': false,
        'success': function (data, status) {
            if (data.success) {
                window.location.href = "/account";
            }
        }
      });
    }

</script>

