<div class = "container" style = "margin-top: 5%">
    <div class = "one-half column">
        <div class = "row">
            <h3>Your referral account</h3>
            <h4>{{user.area}} {{user.prefix}} {{user.line}}</h4>
            <h5>{{user.email}}</h5>
        </div>
        <div class = "row">
            <hr>
            <h4>Update your information</h4>
            <div id = "error" class = "failure-panel bottom-space"></div>
            <input class = "u-full-width" id = "email" type = "text" placeholder = "New email"></input>
            <button class = "u-full-width" onclick = "updateEmail()">Change email address</button>
            <br>
            <input id = "area" size = "3" maxlength = "3" type = "text" placeholder = "555"></input>
            <input id = "prefix" size = "3" maxlength = "3" type = "text" placeholder = "555"></input>
            <input id = "line" size = "4" maxlength = "4" type = "text" placeholder = "5555"></input>
            <button class = "u-full-width" onclick = "updatePhone()">Change referral number</button>
            <br>
            
            <hr>
            <h4>Delete your account</h4>
            <b>This will remove your number and email address from the database. You will no longer be selected for referrals.</b><br><br>
            <button class = "u-full-width cancel" onclick = "deleteAccount()">Delete my account</button>
        </div>
    </div>
    <div class = "one-half column">
        {{#if verified}}
            <div class = "row success-panel">
                <b>Good to go!</b><br>
                You'll be notified via email when your phone number is used as a referral.
                Be sure to add <b>noreply@pmreferrals.ca</b> to your email whitelist.
            </div>
        {{else}}
            <div class = "row info-panel">
                <b>Verify your account</b><br>
                You need to verify your information before you can start collecting referrals.
                Remember to add <b>noreply@pmreferrals.ca</b> to your email whitelist.<br><br>
                {{#if email_verify}}<button id = "verify_email" onclick = "verifyEmail()" class = "u-full-width">Send verification email</button><br>{{/if}}
                {{#if phone_verify}}<button class = "u-full-width">Send verification SMS</button><br>{{/if}}
            </div>
        {{/if}}
        <div class = "row panel top-space">
            <b>Bookmark this page so you can find it later.</b><br>
            This page is where you can change or delete your account.<br>
            It is visible by anyone with the link. <i>Don't share it!</i><br>
            If you lose this page, you can request it again <a href = "/">here</a>.
        </div>
    </div>
</div>

<script>

    $("#error").hide();

    function verifyEmail() {
        console.log("Sending verification email...");
        $("#verify_email")[0].innerHTML = "Sending...";
        post("/api/verify_email", {id: "{{user.id}}"}, function(data, status) {
            console.log(data, status);
            $("#verify_email")[0].innerHTML = data;
        });
    }

    function updateEmail() {
        post("/api/update_email", {id: "{{user.id}}", email: $("#email")[0].value}, function(data, status) {
            console.log(data, status);
            if (data.reload) window.location.reload(); else error(data.message);
        });
    }

    function updatePhone() {
        post("/api/update_phone", {id: "{{user.id}}", area: $("#area")[0].value, prefix: $("#prefix")[0].value, line: $("#line")[0].value}, function(data, status) {
            console.log(data, status);
            if (data.reload) window.location.reload(); else error(data.message);
        });
    }

    function deleteAccount() {
        post("/api/delete_account", {id: "{{user.id}}"}, function(data, status) {
            window.location.href = "/";
        });
    }

    function post(url, data, callback) {
        $.ajax({
            url: url,
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: callback
        });
    }

    function error(message) {
        if (message == undefined || message.length <= 0) { 
            $("#error").fadeOut(50); 
        } else {
            $("#error").fadeOut(50).fadeIn(100);
            $("#error").text(message);
        }
    }

</script>