<div class = "container" style = "margin-top: 5%">
    <div class = "one-half column">
        <div class = "row">
            <h3>Your referral account</h3>
            <h4>{{area}} {{prefix}} {{line}}</h4>
            <h5>{{user.email}}</h5>
        </div>
        <div class = "row">
            <hr>
            <h4>Custom referral URL</h4>
            Use this link to safely share your Public Mobile on public forums. Feel free to change it if you'd like.
        </div>
        <div class = "row top-space">
            <b style = "color: blue;">pmreferrals.ca/referral/</b>
            <input id = "new_url" maxlength = "16" type = "text" placeholder = "{{user.referral_code}}" onkeyup = "newURLFieldOnKeyUp()"></input>
            <button id = "update_url" class = "u-full-width" onclick = "updateReferralCode()">Change url</button>
            <button id = "copy_url" class = "u-full-width" onclick = "copyURL()">Copy url</button>
        </div>
        <div class = "row top-space">
            <h4>Delete your account</h4>
            <b>This will remove your number and email address from the database. You will no longer be selected for referrals.</b><br><br>
            <button class = "u-full-width cancel" onclick = "deleteAccount()">Delete my account</button>
        </div>
    </div>
    <div class = "one-half column">
        {{#if verified}}
            <div class = "row success-panel">
                <b>Good to go!</b><br>
                You'll be notified via email when your phone number is used as a referral.
                Be sure to add <b>noreply@pmreferrals.ca</b> to your email whitelist.
            </div>
        {{else}}
            <div class = "row info-panel">
                <b>Verify your account</b><br>
                You need to verify your information before you can start collecting referrals.
                Remember to add <b>noreply@pmreferrals.ca</b> to your email whitelist.<br><br>
                {{#if email_verify}}<button id = "verify_email" onclick = "verifyEmail()" class = "u-full-width">Send verification email</button><br>{{/if}}
                {{#if phone_verify}}
                    <button id = "verify_phone" onclick = "verifyPhone()" class = "u-full-width">Send verification SMS</button><br>
                    <input id = "enter_code" class = "u-full-width" type = "text" placeholder = "Enter the code"></input>
                    <button id = "submit_code" onclick = "verifySMSCode()" class = "u-full-width">Verify phone</button><br>
                {{/if}}
            </div>
        {{/if}}
        <div class = "row panel top-space">
            <b>Bookmark this page so you can find it later.</b><br>
            This page is where you can change or delete your account.<br>
            It is visible by anyone with the link. <i>Don't share it!</i><br>
            If you lose this page, you can request it again <a href = "/">here</a>.
        </div>
    </div>
</div>

<!--used as a temporary field to copy the url-->
<input type="text" value="" id="copier"></input>

<script>

    $("#error").hide();
    $("#enter_code").hide();
    $("#submit_code").hide();
    $("#update_url").hide();
    $("#new_url")[0].value = "";

    $("#copier").hide();

    function verifyEmail() {
        console.log("Sending verification email...");
        $("#verify_email")[0].innerHTML = "Sending...";
        post("/api/send_verification_email", {id: "{{user.id}}"}, function(data, status) {
            console.log(data, status);
            $("#verify_email")[0].innerHTML = data;
        });
    }

    function verifyPhone() {
        console.log("Sending verification SMS...");
        $("#verify_phone")[0].innerHTML = "Sending...";
        post("/api/send_verification_sms", {id: "{{user.id}}"}, function(data, status) {
            console.log(data, status);
            $("#verify_phone")[0].innerHTML = data;
            $("#verify_phone").fadeOut(300);
            $("#enter_code").fadeIn(300);
            $("#submit_code").fadeIn(300);
        });
    }

    function verifySMSCode() {
        console.log("Sending verification SMS...");
        $("#submit_code")[0].innerHTML = "Verifying...";
        post("/api/verify_sms_code", {id: "{{user.id}}", code: $("#enter_code")[0].value}, function(data, status) {
            console.log(data, status);
            if (data.reload) window.location.reload(); else $("#submit_code")[0].innerHTML = data;
        });
    }

    function updateReferralCode() {
        console.log("Updating referral code...");
        $("#update_url")[0].innerHTML = "Changing...";
        post("/api/update_referral_code", {id: "{{user.id}}", code: $("#new_url")[0].value}, function(data, status) {
            console.log(data, status);
            if (data.reload) window.location.reload(); else $("#update_url")[0].innerHTML = data;
        });
    }

    function newURLFieldOnKeyUp() {
        if ($("#new_url")[0].value.length == 0) {
            $("#update_url").hide();
            $("#copy_url").show();
            $("#copy_url")[0].innerHTML = "Copy url";
        } else {
            $("#update_url").show();
            $("#copy_url").hide();
        }
    }

    function copyURL() {
        console.log("copying url {{root}}/referral/{{user.referral_code}}");
        $("#copier").show();
        $("#copier")[0].value = "{{root}}/referral/{{user.referral_code}}";
        $("#copier")[0].select();
        document.execCommand("copy");
        $("#copy_url")[0].innerHTML = "Copied URL!";
        $("#copier").hide();
    }

    function deleteAccount() {
        post("/api/delete_account", {id: "{{user.id}}"}, function(data, status) {
            window.location.href = "/";
        });
    }

    function post(url, data, callback) {
        $.ajax({
            url: url,
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: callback
        });
    }

    function error(message) {
        if (message == undefined || message.length <= 0) { 
            $("#error").fadeOut(50); 
        } else {
            $("#error").fadeOut(50).fadeIn(100);
            $("#error").text(message);
        }
    }

</script>